body {
	font-family: 'Belgrano', serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bowlby One SC', sans-serif;
	text-transform: uppercase;
}
h2 {
	font-size: 22px;
}
label {
	font-weight: 400;
}

::-moz-selection { background: #fffbbf; color: #000; text-shadow: none; }
::selection { background: #fffbbf; color: #000; text-shadow: none; }

/* Layouts ------------------------------------------------------------------ */

body {
	background-color: rgb(167, 196, 88);
}

header {
	background: rgb(120, 158, 219) url('../img/bg-header.gif') center bottom repeat-x;
	
}
header > #branding {
	background: rgb(120, 158, 219) url('../img/sky.png') center bottom no-repeat;
	height: 260px;
}
#content {
	background: rgb(167, 196, 88) url('../img/ground.png') center top no-repeat;
}

/* Header ------------------------------------------------------------------- */
header .title, header .subtitle {
	display: block;
	text-align: center;
}
	header .title {
		font-size: 56px;
	}
	header .subtitle {
		font-size: 32px;
		line-height: 80px;
		height: 80px;
		margin: 20px 0 10px;
	}

/* Introduction ------------------------------------------------------------- */
#introduction {
	height: 120px;
	padding: 10px 0 0;
}
	#introduction span {
		display: block;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		text-shadow: 0 1px 0 #d0e0a7;
	}

/* Buttons ------------------------------------------------------------------ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-family: 'Belgrano', serif;
	font-weight: 400;
}

/* Forms -------------------------------------------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	font-family: 'Belgrano', serif;
	font-weight: 400;
}