body {
	font-family: 'Belgrano', serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bowlby One SC', sans-serif;
	text-transform: uppercase;
}
h2 {
	font-size: 22px;
}

/* Header ------------------------------------------------------------------- */
header .title, header .subtitle {
	display: block;
	text-align: center;
}
	header .title {
		font-size: 56px;
	}
	header .subtitle {
		font-size: 32px;
	}