<!doctype html>

<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Salado Earth Day 2012</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/skeleton.css">

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Belgrano|Bowlby+One">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/layout.css">

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

	<script src="modernizr-2.5.2.min.js"></script>
</head>

<body>
	<header>
		<div id="branding">
			<h1>Salado's Earth Day 2012</h1>
		</div>
	</header>
	<p class="introduction">
		April 21, 2012<br />
		Salado, Texas
	</p>
	<div id="content" class="container">
		<div class="row">
			<div class="ten columns offset-by-one">
				<section>
					<p class="row">
						<img class="photo-new" src="/img/salado.png" style="float:left;margin-right:10px" height="140" width="230" />Go Fly a Kite! Seriously! Come fly a Kite at this year’s Salado Earth Day Festival. Along with Kite flying, there will workshops to build rain barrels and composting bins, displays for alternative energy solutions, a wellness fair, and organic make-overs. Bring the kids to jam with the Texas State Musician, Tom Taylor, as they make instruments or items from recycled materials. Join in on the kite making competition, learn about the birds and the bees in Central Texas, and visit a butterfly exhibit. Most importantly, come join Salado as it celebrates life and the planet!</p>
				</section>
				<section>
					<h2>Schedule of Events</h2>
					<div class="row">
						<table>
							<thead>
								<tr>
									<th>What</th>
									<th>When</th>
									<th>Where</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Kite Making</th>
									<td>10:00 AM&mdash;11:30 AM</td>
									<td>Kite Festival Grounds</td>
								</tr>
								<tr class="odd">
									<th>Kite Competition</th>
									<td>12:00 PM&mdash;1:00 PM</td>
									<td>Kite Festival Grounds</td>
								</tr>
								<tr class="odd">
									<td colspan="3"><p class="event-details">Awards will be given for the most colorful kite, the highest-flying kite, the youngest and oldest flyers, the best line laundry, the most unusual kite, the best swimming kite.</p></td>
								</tr>
								<tr>
									<th>Candy Drop</th>
									<td>3:00 PM&mdash;4:00 PM</td>
									<td>Kite Festival Grounds</td>
								</tr>
								<tr>
									<td colspan="3"><p class="event-details">&nbsp;</p></td>
								</tr>
								<tr class="odd">
									<th>Food and Wine</th>
									<td>2:00 PM&mdash;5:00 PM</td>
									<td><a href="http://theapothecaryatsalado.com/" target="_blank">The Apothecary at Salado</a></td>
								</tr>
								<tr class="odd">
									<td colspan="3"><p class="event-details">Gourmet catering from the Salado Creek Winery.</p></td>
								</tr>
								<tr>
									<th>Organic Beauty Product Demonstrations</th>
									<td>2:00 PM&mdash;4:00 PM</td>
									<td><a href="http://theapothecaryatsalado.com/" target="_blank">The Apothecary at Salado</a></td>
								</tr>
								<tr>
									<td colspan="3"><p class="event-details">&nbsp;</p></td>
								</tr>
							</tbody>
						</table>
						<h3>All Day Shop Events</h3>
							<table>
								<thead>
									<tr>
										<th>What</th>
										<th>Where</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Native Plant Sale</th>
										<td><a href="http://www.acehardware.com/mystore/storeDetail.jsp?store=15158&saddr=31.085,-97.31(%20)&daddr=30.956002,-97.531165(213%20Mill%20Creek%20Dr%20Salado,%20TX%2076571)" target="_blank">Ace Hardware</a></td>
									</tr>
									<tr class="odd">
										<th>Recycled Art Exhibit</th>
										<td><a href="http://www.prellopfineartgallery.com/" target="_blank">Prellop Gallery</a></td>
									</tr>
									<tr>
										<th>Glass Recreations Workshop</th>
										<td><a href="http://www.mudpiespottery.biz/" target="_blank">Mud Pies Pottery</a></td>
									</tr>
									<tr>
										<td colspan="2"><p class="event-details">&nbsp;</p></td>
									</tr>
									<tr class="odd">
										<th>Wellness Fair</th>
										<td><a href="http://www.saladoangelicherbs.com/" target="_blank">Angelic Herbs</a></td>
									</tr>
									<tr class="odd">
										<td colspan="2"><p class="event-details">Learn about the impact of bottled water, how to test your water for contaminants, how flower essences can help heal wounded hearts and restore happiness, and how making greener choices can help the environment, global communities, and your health. </p></td>
									</tr>
								</tbody>
							</table>
							<h3>All Day Street Events</h3>
							<table>
								<thead>
									<tr>
										<th>What</th>
										<th>Who</th>
										<th>Where</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th>Texas Master Naturalists Exhibit</th>
										<td>Master Naturalists</td>
										<td>Main and Thomas Arnold</td>
									</tr>
									<tr>
										<td colspan="3"><p class="event-details">&nbsp;</p></td>
									</tr>
									<tr class="odd">
										<th>Children's Activity Area</th>
										<td>Tom Taylor</td>
										<td>Salado Civic Center</td>
									</tr>
									<tr class="odd">
										<td colspan="3"><p class="event-details">&nbsp;</p></td>
									</tr>
									<tr>
										<th>Sustainablity Workshop</th>
										<td>Master Gardeners</td>
										<td>Main and Thomas Arnold</td>
									</tr>
									<tr>
										<td colspan="3"><p class="event-details">&nbsp;</p></td>
									</tr>
									<tr class="odd">
										<th>Kite Festival</th>
										<td></td>
										<td>Kite Festival Grounds</td>
									</tr>
									<tr class="odd">
										<td colspan="3"><p class="event-details">&nbsp;</p></td>
									</tr>
									<tr>
										<th>Electric Car Displays</th>
										<td>Don Ringler</td>
										<td>TBD</td>
									</tr>
									<tr class="odd">
										<th>Solar and Wind Energy Displays</th>
										<td></td>
										<td>TBD</td>
									</tr>
									<tr class="odd">
										<td colspan="3"><p class="event-details">&nbsp;</p></td>
									</tr>
									<tr>
										<th>Exploring Creek Critters</th>
										<td>TBD</td>
										<td>TBD</td>
									</tr>
									<tr>
										<td colspan="3"><p class="event-details">&nbsp;</p></td>
									</tr>
								</tbody>
							</table>
					</div>
				</section>
				<section>
					<h2>About Salado</h2>
					<div class="row">
							<img class="photo-new" src="/img/map.png" style="float:right;margin-left:10px" height="140" width="230" />
							<p>
								The Village of Salado is the perfect place for a weekend get-a-way. With several bed and breakfasts and only a short drive up I35, between Waco and Austin, Texas, Salado has something for everyone.</p>
							<p>
								Main Street and vicinity is a lively marketplace with over 60 shops and artists galleries. Whether you're in the mood for fine art, antiques, pottery, crafts, collectibles, Americana, southwest or south-of-the-border decor, handcrafted furniture, trendy or exclusive fashions, or gourmet foods and wines, you'll find that special something.</p>
						</div>
				</section>
			</div>
			<div class="four columns">
				<section>
					<h2>Connect</h2>
					<ul id="social">
						<li><a id="twitter" href="http://twitter.com/SaladoEarthDay" target="_blank"></a></li>
						<li><a id="facebook" href="http://www.facebook.com/pages/Salado-Earth-Day/336239699750665" target="_blank"></a></li>
					</ul>
				</section>
				<section>
					<h2>Sponsored By</h2>
					<p>Salado's <em>Earth Day 2012</em> is proudly sponsored by:</p>
				</section>
			</div>
		</div>
	</div>
	<script src="js/jquery-1.7.1.min.js"></script>
	<script>

		$(function() {});

	</script>
	<script>
		var _gaq=[['_setAccount','UA-29632477-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>
</body>

</html>