body {
	font-family: 'Belgrano', serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Bowlby One', sans-serif;
}
h2 {
	font-size: 22px;
}
label {
	font-weight: 400;
}
p {
	color: #000;
	text-align: justify;
	text-shadow: 0 1px 0 #d0e0a7;
}

::-moz-selection { background: #fffbbf; color: #000; text-shadow: none; }
::selection { background: #fffbbf; color: #000; text-shadow: none; }

/* Layouts ------------------------------------------------------------------ */

body {
	background-color: rgb(167, 196, 88);
}

header {
	background: rgb(120, 158, 219) url('../img/bg-header.gif') center bottom repeat-x;
	text-indent: -9999px;
}
header > #branding {
	background: rgb(120, 158, 219) url('../img/sky.png') center bottom no-repeat;
	height: 260px;
}
#content {
	background: rgb(167, 196, 88) url('../img/ground.png') center top no-repeat;
}

ul#social {
	overflow: hidden;
	width: 100%;
}
	ul#social li {
		float: left;
		padding-right: 10px;
	}
	ul#social li a {
		display: block;
		height: 48px;
		width: 48px;
	}
		ul#social li a#twitter { background-image: url('../img/social-twitter.png'); }
		ul#social li a#facebook { background-image: url('../img/social-facebook.png'); }

/* Modules ------------------------------------------------------------------ */
.photo {
	background-position: center center;
	background-repeat: no-repeat;
	height: 130px;

	border-radius: 3px;
	box-shadow:
		inset 0 0 6px rgba(0,0,0,0.25),
		0 0 0 4px #fff,
		0 1px 7px #000;
}

/* Header ------------------------------------------------------------------- */
header .title, header .subtitle {
	display: block;
	text-align: center;
}
	header .title {
		font-size: 56px;
	}
	header .subtitle {
		font-size: 32px;
		line-height: 80px;
		height: 80px;
		margin: 20px 0 10px;
	}

/* Introduction ------------------------------------------------------------- */
#introduction {
	height: 120px;
	padding: 10px 0 10px;
}
	#introduction span {
		display: block;
		font-size: 24px;
		line-height: 32px;
		text-align: center;
		text-shadow: 0 1px 0 #d0e0a7;
	}

/* Forms -------------------------------------------------------------------- */
input.error {
	background: #fee;
	border: 1px solid #c00 !important; }

/* Buttons ------------------------------------------------------------------ */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-family: 'Belgrano', serif;
	font-weight: 400;
}

/* Forms -------------------------------------------------------------------- */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	font-family: 'Belgrano', serif;
	font-weight: 400;
}